# HW

Мои Фамилия Имя: Савченко Антон

In [1]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [2]:
df_titanic = pd.read_csv('titanic.csv')

In [3]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_titanic.shape

(891, 12)

In [5]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [6]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [7]:
columns = ['Sex', 'Age', 'Pclass', 'Survived']

In [8]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[500:]

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [9]:
simple_train = simple_train.fillna(0)
simple_test = simple_test.fillna(0)


# можно inplace делать такое, а можно переприсваивать.

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [10]:
simple_train = simple_train.rename({'Sex': 'is_man'}, axis='columns')
simple_train['is_man'] = simple_train['is_man'].apply(lambda x: 1 if x=='male' else 0)
simple_test = simple_test.rename({'Sex': 'is_man'}, axis='columns')
simple_test['is_man'] = simple_test['is_man'].apply(lambda x: 1 if x=='male' else 0)

##### Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [11]:
X_train = simple_train[['is_man', 'Age', 'Pclass']].values
X_test = simple_test.drop(columns='Survived').values
y_train = simple_train['Survived'].values
y_test = simple_test['Survived'].values

In [12]:
simple_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 4 columns):
is_man      501 non-null int64
Age         501 non-null float64
Pclass      501 non-null int64
Survived    501 non-null int64
dtypes: float64(1), int64(3)
memory usage: 15.7 KB

In [13]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [14]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [15]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

In [16]:
import matplotlib.pyplot as pl

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [17]:
class KNN:
    """
    simple KNN classifier with O(n) complexity for memory,
    and O(n log n) complexity - for nn search.
    """
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for (sex, age, pclass) in X:
            distance = np.sqrt((self.X[:,0]-sex)**2 + (self.X[:,1]-age)**2 + (self.X[:,2]-pclass)**2)
            good_idxs = np.argsort(distance)[:self.n] 
            prediction = np.argmax(np.bincount(self.y[good_idxs]))
            y_hat.append(prediction)
        
        return np.array(y_hat)

In [18]:
knn = KNN(5)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [19]:
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.7698209718670077

In [20]:
np.unique(y_pred)

array([0, 1])

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [21]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7698209718670077

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.7647058823529411

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!

In [23]:
# добавим колонку FamilySize
df_titanic['FamilySize'] = df_titanic['SibSp'] + df_titanic['Parch'] + 1

In [24]:
new_columns = ['Sex', 'Age', 'Pclass', 'Survived', 'Cabin', 'Fare', 'Embarked', 'FamilySize']
new_train = df_titanic[new_columns].loc[:600]
new_test = df_titanic[new_columns].loc[600:740]
validation = df_titanic[new_columns].loc[740:]

new_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 8 columns):
Sex           601 non-null object
Age           475 non-null float64
Pclass        601 non-null int64
Survived      601 non-null int64
Cabin         137 non-null object
Fare          601 non-null float64
Embarked      600 non-null object
FamilySize    601 non-null int64
dtypes: float64(2), int64(3), object(3)
memory usage: 37.6+ KB

In [25]:
new_train = new_train.rename({'Sex': 'is_man'}, axis='columns')
new_train['is_man'] = new_train['is_man'].apply(lambda x: 1 if x=='male' else 0)

new_test = new_test.rename({'Sex': 'is_man'}, axis='columns')
new_test['is_man'] = new_test['is_man'].apply(lambda x: 1 if x=='male' else 0)

validation = validation.rename({'Sex': 'is_man'}, axis='columns')
validation['is_man'] = validation['is_man'].apply(lambda x: 1 if x=='male' else 0)

In [26]:
# не хватает данных в age, cabin, embarked
new_train['Age'] = new_train['Age'].fillna(new_train.Age.mean())
new_test['Age'] = new_test['Age'].fillna(new_test.Age.mean())
validation['Age'] = validation['Age'].fillna(validation.Age.mean())

In [27]:
# оставим только первую букву каюты, тк она означает палубу, 1 класс A-E, 2 D-F, 3 E-G 

new_train['Cabin'] = new_train.Cabin.str[0]
new_train['Cabin'] = new_train['Cabin'].fillna('X')

new_test['Cabin'] = new_test.Cabin.str[0]
new_test['Cabin'] = new_test['Cabin'].fillna('X')

validation['Cabin'] = validation.Cabin.str[0]
validation['Cabin'] = validation['Cabin'].fillna('X')

In [28]:
new_train.groupby('Embarked').size()
# в пункте отправления пропусков совсем немного, заполним самым часто встречающимся S

new_train['Embarked'] = new_train['Embarked'].fillna('S')
new_test['Embarked'] = new_test['Embarked'].fillna('S')
validation['Embarked'] = validation['Embarked'].fillna('S')

In [29]:
# S -> 0, C -> 1, Q -> 2
new_train['Embarked'] = new_train['Embarked'].apply(lambda x: 0 if x=='S' else 1 if x=='C' else 2)
new_test['Embarked'] = new_test['Embarked'].apply(lambda x: 0 if x=='S' else 1 if x=='C' else 2)
validation['Embarked'] = validation['Embarked'].apply(lambda x: 0 if x=='S' else 1 if x=='C' else 2)

In [30]:
'''
# one hot encoding Embarked
embarked_dummies = pd.get_dummies(new_train.Embarked, prefix="Embarked")
new_train = new_train.drop(columns='Embarked')
new_train = pd.concat([new_train, embarked_dummies], axis=1)

embarked_dummies = pd.get_dummies(new_test.Embarked, prefix="Embarked")
new_test = new_test.drop(columns='Embarked')
new_test = pd.concat([new_test, embarked_dummies], axis=1)

embarked_dummies = pd.get_dummies(validation.Embarked, prefix="Embarked")
validation = validation.drop(columns='Embarked')
validation = pd.concat([validation, embarked_dummies], axis=1)
'''

'# one hot encoding Embarked\nembarked_dummies = pd.get_dummies(new_train.Embarked, prefix="Embarked")\nnew_train = new_train.drop(columns=\'Embarked\')\nnew_train = pd.concat([new_train, embarked_dummies], axis=1)\n\nembarked_dummies = pd.get_dummies(new_test.Embarked, prefix="Embarked")\nnew_test = new_test.drop(columns=\'Embarked\')\nnew_test = pd.concat([new_test, embarked_dummies], axis=1)\n\nembarked_dummies = pd.get_dummies(validation.Embarked, prefix="Embarked")\nvalidation = validation.drop(columns=\'Embarked\')\nvalidation = pd.concat([validation, embarked_dummies], axis=1)'

In [31]:
'''
# one hot encoding Cabin
cabin_dummies = pd.get_dummies(new_train.Cabin, prefix="Cabin")
new_train = new_train.drop(columns='Cabin')
new_train = pd.concat([new_train, cabin_dummies], axis=1)

cabin_dummies = pd.get_dummies(new_test.Cabin, prefix="Cabin")
new_test = new_test.drop(columns='Cabin')
new_test = pd.concat([new_test, cabin_dummies], axis=1)

cabin_dummies = pd.get_dummies(validation.Cabin, prefix="Cabin")
validation = validation.drop(columns='Cabin')
validation = pd.concat([validation, cabin_dummies], axis=1)
'''

'# one hot encoding Cabin\ncabin_dummies = pd.get_dummies(new_train.Cabin, prefix="Cabin")\nnew_train = new_train.drop(columns=\'Cabin\')\nnew_train = pd.concat([new_train, cabin_dummies], axis=1)\n\ncabin_dummies = pd.get_dummies(new_test.Cabin, prefix="Cabin")\nnew_test = new_test.drop(columns=\'Cabin\')\nnew_test = pd.concat([new_test, cabin_dummies], axis=1)\n\ncabin_dummies = pd.get_dummies(validation.Cabin, prefix="Cabin")\nvalidation = validation.drop(columns=\'Cabin\')\nvalidation = pd.concat([validation, cabin_dummies], axis=1)'

In [32]:
# новый kNN с учетом добавленных параметров

#['Sex', 'Age', 'Pclass', 'Fare', 'FamilySize', e0, e1, e2, ]

class better_KNN:
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for (sex, age, pclass, fare, famsize) in X: # embarked_0, embarked_1, embarked_2) in X:
            distance = np.sqrt( (self.X[:,0]-sex)**2 + (self.X[:,1]-age)**2 + (self.X[:,2]-pclass)**2 + 
                                (self.X[:,3]-fare)**2 + (self.X[:,4]-famsize)**2 ) #+ 
                                #(self.X[:,5]-embarked_0)**2 + (self.X[:,6]-embarked_1)**2 + (self.X[:,7]-embarked_2)**2 )  
            
            good_idxs = np.argsort(distance)[:self.n] 
            prediction = np.argmax(np.bincount(self.y[good_idxs]))
            y_hat.append(prediction)
        
        return np.array(y_hat)

делал one hot encoding для Cabin и проверял - на результат никак не влияет, так что без него

In [33]:
X_train = new_train.drop(columns=['Survived', 'Cabin', 'Embarked']).values
X_test = new_test.drop(columns=['Survived', 'Cabin', 'Embarked']).values
X_valid = validation.drop(columns=['Survived', 'Cabin', 'Embarked']).values

y_train = new_train['Survived'].values
y_test = new_test['Survived'].values
y_valid = validation['Survived'].values

In [34]:
from sklearn.metrics import accuracy_score
#for i in range(5)
knn = better_KNN(22)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_valid)
print(accuracy_score(y_valid, y_pred), sep=' ')

0.7549668874172185

In [35]:
d = {}
for i in range(3,600):
    knn = better_KNN(i)
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_valid)
    acc = accuracy_score(y_valid, y_pred)
    d[i] = acc
best_k = 0
best_score = 0
for i in d.items():
    if i[1] > best_score:
        best_score, best_k = i[1],i[0]

best_k, best_score

(14, 0.7549668874172185)

с Embarked и без него получился одинаковый скорр (но при разных k(22/14)) - 0.7549668874172185,так что от него тоже избавился

In [36]:
# Min-Max Scaling
max_ = X_train.max(axis=0)
min_ = X_train.min(axis=0)

X_train = (X_train - min_) / (max_ - min_)
X_valid = (X_valid - min_) / (max_ - min_)

d = {}
for i in range(3,600):
    knn = better_KNN(i)
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_valid)
    acc = accuracy_score(y_valid, y_pred)
    d[i] = acc
best_k = 0
best_score = 0
for i in d.items():
    if i[1] > best_score:
        best_score, best_k = i[1],i[0]

best_k, best_score

(4, 0.8543046357615894)

после Min-Max scaling скорр возрос до 0.8543046357615894 при k=4

In [37]:
'''
# Standartization
mean_ = X_train.mean(axis=0)
std_ = X_train.std(axis=0)

X_train = (X_train - mean_) / std_
X_valid = (X_valid - mean_) / std_

d = {}
for i in range(3,600):
    knn = better_KNN(i)
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_valid)
    acc = accuracy_score(y_valid, y_pred)
    d[i] = acc
best_k = 0
best_score = 0
for i in d.items():
    if i[1] > best_score:
        best_score, best_k = i[1],i[0]

best_k, best_score 
'''

'\n# Standartization\nmean_ = X_train.mean(axis=0)\nstd_ = X_train.std(axis=0)\n\nX_train = (X_train - mean_) / std_\nX_valid = (X_valid - mean_) / std_\n\nd = {}\nfor i in range(3,600):\n    knn = better_KNN(i)\n    knn.fit(X_train,y_train)\n    y_pred = knn.predict(X_valid)\n    acc = accuracy_score(y_valid, y_pred)\n    d[i] = acc\nbest_k = 0\nbest_score = 0\nfor i in d.items():\n    if i[1] > best_score:\n        best_score, best_k = i[1],i[0]\n\nbest_k, best_score \n'

после стандартизованной оценки (standartization) скорр упал до 0.847682119205298 (k=4), можно сделать вывод что в нашем случае лучше работает шкалирование (Min-Max Scaling)

In [38]:
# проверим min-max scaling на тесте

#max_ = X_train.max(axis=0)
#min_ = X_train.min(axis=0)
                                    # уже посчитано выше
#X_train = (X_train - min_) / (max_ - min_)
X_test = (X_test - min_) / (max_ - min_)

d = {}
for i in range(3,600):
    knn = better_KNN(i)
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    d[i] = acc
best_k = 0
best_score = 0
for i in d.items():
    if i[1] > best_score:
        best_score, best_k = i[1],i[0]

best_k, best_score

(5, 0.8368794326241135)

Min-Max на тесте: 0.8368794326241135 при k = 5

In [39]:
'''# проверим standarization на тесте

mean_ = X_train.mean(axis=0)
std_ = X_train.std(axis=0)

X_train = (X_train - mean_) / std_
X_test = (X_test - mean_) / std_

d = {}
for i in range(3,600):
    knn = better_KNN(i)
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    d[i] = acc
best_k = 0
best_score = 0
for i in d.items():
    if i[1] > best_score:
        best_score, best_k = i[1],i[0]

best_k, best_score 
'''

'# проверим standarization на тесте\n\nmean_ = X_train.mean(axis=0)\nstd_ = X_train.std(axis=0)\n\nX_train = (X_train - mean_) / std_\nX_test = (X_test - mean_) / std_\n\nd = {}\nfor i in range(3,600):\n    knn = better_KNN(i)\n    knn.fit(X_train,y_train)\n    y_pred = knn.predict(X_test)\n    acc = accuracy_score(y_test, y_pred)\n    d[i] = acc\nbest_k = 0\nbest_score = 0\nfor i in d.items():\n    if i[1] > best_score:\n        best_score, best_k = i[1],i[0]\n\nbest_k, best_score \n'

Std на тесте тоже 0.8368794326241135 (при k = 7)

# Что в итоге

1) добавлена колонка FamilySize (по советам с тредов на kaggle)

2) добавлены новые признаки: 'Sex', 'Age', 'Pclass', 'Cabin', 'Fare', 'Embarked', 'FamilySize'. Заполнены пропуски в  данных. В Cabin оставлена только буква, указывающая на палубу. Категориальные Cabin и Embarked представлены в виде dummy-признаков (one hot encoding), но на скорр они никак не повлияли, поэтомы были убраны.

3) для валидации попробовал min-max scaling и standartization, лучший результат дало шкалирование.

4) применил его для теста -- результат: 0.8368794326241135 при k = 5

5) на этом, как я понял, задания заканчиваются